/* 
  -----------------------------------------------------------------------------
    about - delete this later
  -----------------------------------------------------------------------------
*/
.about {
  padding: 2rem var(--global-leftright-padding);
  padding-bottom: 5rem;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 45px 45px 0px 0px;
  background: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-white) 20%,
    var(--color-very-light-blue) 100%
  );
}

.about > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about > div > article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about > a button {
  width: var(--round-button-size);
  height: var(--round-button-size);
  position: relative;
  border-radius: var(--round-button-size);
  border-color: transparent;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--color-very-dark-blue);
  color: var(--color-white);
}
/* 
-----------------------------------------------------------------------------
contact
-----------------------------------------------------------------------------
*/
.contact {
  padding: 2rem var(--global-leftright-padding);
  padding-bottom: 5rem;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 45px 45px 0px 0px;
  background: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-white) 20%,
    var(--color-very-light-blue) 100%
  );
}

.contact > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.contact > div > article {
  display: flex;
  gap: 25px;
}

.contact .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
